@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: #44a08d;
  background: -webkit-linear-gradient(to right, #093637, #44a08d);
  background: linear-gradient(to right, #093637, #44a08d);
}

h1 {
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: 900;
  color: white;
  font-size: xx-large;
  text-shadow: 1.5px 1.5px grey;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: x-large;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.title {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
